/* PAGINATION */
.pagination-links {
  display: flex;
  justify-content: center;
  margin: 0 0 1em 0;
}
.page-link {
  /* width: 20px; */
  float: left;
  /* width: 30px; */
  padding: 5px;
  margin: 5px;
  border: 1px solid #d81159;
}

.page-link:hover {
  cursor: pointer;
  float: left;
  /* width: 30px; */
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: #d81159;
  border: 1px solid #d81159;
}

.active-page-link {
  float: left;
  /* width: 30px; */
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: #d81159;
  border: 1px solid #d81159;
}
