* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* SEARCH BAR */
.search-bar {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 4px;

  background: #d81159;
}
.search-title {
  display: flex;
  flex: 1 0 180px;
  align-items: center;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex: 1 0 180px;

  max-width: 180px;
}
.search-title img {
  width: 48px;
  margin-right: 8px;
}
.search-title-label {
  font-size: 18px;
  color: white;
  font-weight: 100;
  line-height: 1;
}
.search-title a {
  text-decoration: none;
}
.search-bar-title {
}
.search-bar-input {
  position: relative;
  display: inline-block;
  width: calc(100% - 324px);
  margin-right: 16px;
}
.search-input {
  border-radius: 0;
  border: none;
  height: 42px;
  width: 100%;
  box-shadow: none;
  padding: 16px 144px 16px 54px;
  font-size: 16px;
  font-weight: 300;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75);
}
.search-bar button {
  flex: 1 1 100px;
  height: 42px;
  margin: 0 10px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  font-size: 1rem;
}
.search-bar button:hover {
  color: #d81159;
  border: 2px solid white;
  background-color: white;
}

/* SEARCH BAR */
.search-filters-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;

  width: 100%;
  height: 40px;
  padding: 0 8px;
}

.search-filters-selectors {
  /* flex: 1 1 auto; */
}

.search-meta-data {
  flex: 1 1 auto;
  display: flex;
  justify-content: right;
  color: #d81159;
  font-size: 12px;
}
