* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* SEARCH BAR */
.search-bar {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 4px;

  background: #d81159;
}
.search-title {
  display: flex;
  flex: 1 0 180px;
  align-items: center;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex: 1 0 180px;

  max-width: 180px;
}
.search-title img {
  width: 48px;
  margin-right: 8px;
}
.search-title-label {
  font-size: 18px;
  color: white;
  font-weight: 100;
  line-height: 1;
}
.search-title a {
  text-decoration: none;
}
.search-bar-title {
}
.search-bar-input {
  position: relative;
  display: inline-block;
  width: calc(100% - 324px);
  margin-right: 16px;
}
.search-input {
  border-radius: 0;
  border: none;
  height: 42px;
  width: 100%;
  box-shadow: none;
  padding: 16px 144px 16px 54px;
  font-size: 16px;
  font-weight: 300;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75);
}
.search-bar button {
  flex: 1 1 100px;
  height: 42px;
  margin: 0 10px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  font-size: 1rem;
}
.search-bar button:hover {
  color: #d81159;
  border: 2px solid white;
  background-color: white;
}

/* SEARCH BAR */
.search-filters-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;

  width: 100%;
  height: 40px;
  padding: 0 8px;
}

.search-filters-selectors {
  /* flex: 1 1 auto; */
}

.search-meta-data {
  flex: 1 1 auto;
  display: flex;
  justify-content: right;
  color: #d81159;
  font-size: 12px;
}

/* SEARCH RESULTS */
.result-entry {
  /* clear: both;
  margin: 10px;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  border-bottom: 1px solid #d81159; */
  font-size: 14px;
  padding: 0 16px;
  min-height: 40px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.entry-data {
  margin: 4px 0;
}

.entry-title {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 4px;

  color: #8f2d56;
}

.entry-title > a {
  color: #8f2d56;
  text-decoration: none;
  font-size: 14px;
  margin-right: 4px;
}

.entry-link {
  color: #fbb13c;
  font-size: 13px;
  text-decoration: none;
}

.entry-link:hover {
  text-decoration: underline;
}

.entry-meta {
  color: #218380;
  font-size: 10px;
}

.entry-meta a {
  color: #218380;
  font-size: 10px;
  text-decoration: none;
}

.entry-meta a:hover {
  text-decoration: underline;
}

.entry-separator {
  margin: 0 5px;
}

/* .entry-points {
  color: #73d2de;
  border-right: 2px solid black;
  padding-right: 50px;
}

.entry-author {
  color: #fbb13c;
  border-right: 2px solid black;
  padding: 0 50px;
}
.entry-link a {
  padding: 0 0 0 50px;
  color: #218380;
} */
