* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-bar {
  height: 60px;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;

  height: auto;
  padding: 4px;
  position: relative;
  -ms-flex-pack: justify;
  justify-content: space-between;

  background: #d81159;
  background-color: #d81159;
}

.search-bar-title {
  flex: 0 0 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.search-bar-input {
  position: relative;
  display: inline-block;
  width: calc(100% - 324px);
  margin-right: 16px;
}

.search-input {
  /* border-radius: 0;
  border: none;
  height: 42px;
  width: 100%;
  box-shadow: none;
  padding: 16px 144px 16px 54px;
  font-weight: 300;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75); */
  border-radius: 0;
  border: none;
  height: 42px;
  width: 100%;
  box-shadow: none;
  padding: 16px 144px 16px 54px;
  font-weight: 300;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75);
}

.search-bar button {
  flex: 0 0 300px;
  height: 60px;
  margin: 0 20px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  font-size: 40px;
}

.search-bar button:hover {
  color: #d81159;
  border: 2px solid white;
  background-color: white;
}

.pageLink {
  float: left;
  /* width: 30px; */
  padding: 5px;
  margin: 5px;
  border: 1px solid #d81159;
}

.activePageLink {
  float: left;
  /* width: 30px; */
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: #d81159;
  border: 1px solid #d81159;
}

.result-entry {
  clear: both;
  margin: 10px;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  border-bottom: 1px solid #d81159;
}

.entry-title {
  margin-bottom: 10px;
  color: #8f2d56;
}

.entry-link {
  display: flex;
  font-size: 1rem;
}

.entry-points {
  color: #73d2de;
  border-right: 2px solid black;
  padding-right: 50px;
}

.entry-author {
  color: #fbb13c;
  border-right: 2px solid black;
  padding: 0 50px;
}
.entry-link a {
  padding: 0 0 0 50px;
  color: #218380;
}
