* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  height: 80px;
  background-color: #d81159;
  padding: 10px;
  align-items: center;
}

.search-bar-title {
  flex: 0 0 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.search-bar input {
  flex: 1 0 auto;
  height: 60px;
  margin: 0 20px;
  font-size: 40px;
  color: #d81159;
  padding: 0 20px 8px;
}

.search-bar button {
  flex: 0 0 300px;
  height: 60px;
  margin: 0 20px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  font-size: 40px;
}

.search-bar button:hover {
  color: #d81159;
  border: 2px solid white;
  background-color: white;
}

.pageLink {
  float: left;
  /* width: 30px; */
  padding: 5px;
  margin: 5px;
  border: 1px solid #d81159;
}

.activePageLink {
  float: left;
  /* width: 30px; */
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: #d81159;
  border: 1px solid #d81159;
}

.result-entry {
  clear: both;
  margin: 10px;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  border-bottom: 1px solid #d81159;
}

.entry-title {
  margin-bottom: 10px;
  color: #8f2d56;
}

.entry-link {
  display: flex;
  font-size: 1rem;
}

.entry-points {
  color: #73d2de;
  border-right: 2px solid black;
  padding-right: 50px;
}

.entry-author {
  color: #fbb13c;
  border-right: 2px solid black;
  padding: 0 50px;
}
.entry-link a {
  padding: 0 0 0 50px;
  color: #218380;
}
